.idea/
EXTERNAL/
test/
src/
doc/
.github/
.git/
*.tgz
*.log
node_modules/
.eslintrc.cjs
.prettierrc
.editorconfig
.cursorrules
.cursorignore
tsconfig.json
src/tsconfig.json
test/tsconfig.json
appspec.yml
aws/
vendor/
jsdoc.json
